@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Allura');


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}


.jumbotron {
    background: url(web6.jpeg);
    height: 85%;
    margin-top: 50px;
    background-size: cover;
    background-repeat: no-repeat;
}




.content{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content  {
    font-family: 'oswald' , sans-serif;
    color: #f9f3f4;
    text-shadow: 0px 0px 300px #300;
    font-size: 40px;
}

.button {
    border-radius: 9px;
    font-family: 'Oswald' , sans-serif;
    color:white;
    font-size:200%;
    padding: 10px 20px;
    border: solid #fcfcfc 3px;
    transition: .6s;
    overflow: hidden;
}

.Welcome {
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
    font-family: 'Oswald' ,sans-serif;
}


.button:hover {
    color: #fcfcfc;
    border: solid lightgrey 3px;
    font-family: 'Oswald' , sans-serif;
}



.navbar {
color: black;
font-family: 'Oswald', sans-serif;

}

.nav-item {
    color: black;
    font-size: 20px;
}


#about {
    background-color: white;
}

.img-responsive {

    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    padding-left: 30px;
    padding-top: 10px 
        
}

h1 {
    text-align: center;
    font-family: 'oswald' sans-serif;
}

#p1 {
    margin-top: 25px;
    margin-bottom: 65px;
    font-family: 'Oswald', sans-serif;
}


#p2 {
    margin-top: 25px;
    margin-bottom: -90px;
 font-family: 'Oswald', sans-serif;
}

#project1 {
   max-width: 100%;
    max-height: 100%;
    margin-top: 10px;
     
  
}




#project2 {
    max-width: 100%;
    max-height: 100%;
    margin-top: 30px;

    
}

#project3 {
    max-width: 100%;
    max-height: 100%;
    margin-top: 30px;

    
}

#project4 {
    max-width: 100%;
    max-height: 100%;
    margin-top: 30px;

    
}

.copy {
   
    font-family: 'Oswald' sans-serif;
    margin-top: 85px;
    text-align: center;
}



.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }


  #skills {
    max-width: 100%;
    max-height: 100%;
    margin-top: 150px;
    font-family: 'Oswald' , sans-serif;
  
    
}





@media screen and (max-width : 768px) {
    body {
        background:black;
        color: white;
    }
    
    } 


    


p {
    font-family: 'Oswald' , sans-serif;
}

#about {
    font-family: 'oswald', sans-serif;
    margin-top: 100px;
    margin-bottom: 15px;
}



.text {
    margin-top: 100px;
}




    